<div class="basic">
  <h1>Admin</h1>
  <%- #Link to student applications, courses, users, recommendations, requests and evaluations  -%>
  <p><Strong>View students log:</Strong>
    <%= link_to "Student Applications", 'students#index' %></p>
  <p><Strong>View Courses:</Strong>
    <%= link_to "Current Courses", 'courses#index' %></p>
  <p><Strong>View all Users:</Strong>
    <%= link_to "View Users", 'users#index' %></p>

  <p><Strong>View all Recommendations:</Strong>
    <%= link_to "View Recommendations", 'recommendations#index' %></p>
  <p><Strong>View all Requests:</Strong>
    <%= link_to "View Requests", 'requests#index' %></p>

  <p><Strong>View all Evaluations:</Strong>
    <%= link_to "View Evaluations", 'evaluations#index' %></p>


</div>