<div class="basic">
  <div class="table">
    <%- #Display all requests and their fields with sorting functionality  -%>
    <h1>All Current Requests</h1>
    <table>
      <tr>
        <th><%= link_to "Graders First Name", :sort => "firstname" %></th>
        <th><%= link_to "Graders Last Name", :sort => "lastname" %></th>
        <th><%= link_to "Graders Dotnumber", :sort => "dotnumber" %></th>
        <th><%= link_to "Class ID", :sort => "class_id" %></th>
        <th><%= link_to "Section", :sort => "section" %></th>
        <th><%= link_to "Teacher's Email", :sort => "email" %></th>
      </tr>

      <% @requests.each do |rec| %>
        <tr>
          <td><%= rec.firstname %></td>
          <td><%= rec.lastname %></td>
          <td><%= rec.dotnumber %></td>
          <td><%= rec.class_id %></td>
          <td><%= rec.section %></td>
          <td><%= rec.email %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Back', admin_path %>
  </div>
</div>