<!DOCTYPE html>
<html>
<head>
  <title>Lab5</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if user_signed_in? %>
    <%= stylesheet_link_tag 'navheader' %>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
<% if user_signed_in? %>
  <%= render "shared/nav" %>
<% end %>
<%= yield %>
</body>
</html>
